.outputDiv {
  padding-top: 50px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.outputBarDiv {
  float: right;
  width: calc(100% - 20px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.outputBar {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.num {
  position: relative;
  top: -5px;
  font-size: 1.2rem;
  float: left;
  width: 20px;
  height: 100%;
  color: white;
}

.max {
  background-color: yellow;
}

.outputRow {
  height: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .outputRow {
    margin-bottom: 20px;
  }
}
